<apex:page controller="NewCaseListController">
    <apex:repeat value="{! newCases }" var="case">
        <apex:outputLink value="/{! case.ID}" >{! case.CaseNumber}</apex:outputLink>
    </apex:repeat>
</apex:page>